.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
}
.lista {
    padding: 0;
    list-style: none;
}
.lista li {
    display: inline;
    padding: 0;
}

/* Estilo por defecto de cada una de las estrellas */
.rating{
    cursor: pointer;
    color:grey;
}

/* Color destacado al pasar el ratón sobre una de ellas */
.rating:hover{
    color: goldenrod;
}

/* Para resaltar los anteriores a la estrella por la que pasa el ratón: */
/* 1 Destacamos toda la lista */
/* 2 Volvemos al color por defecto todos los "elementos hermano" posteriores (el resto de estrellas) */
.lista:hover li{
    color: goldenrod;    
}
.lista li:hover ~li{
    color: grey;
}

/* Estilo de las estrellas una vez seleccionadas */
.seleccionado{
    cursor: pointer;
    color: goldenrod;
}